@CHARSET "ISO-8859-1";


#popupDetallePersonas
{
	left: 70px;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 1001;
}


#popupDetallePersonas .content-popup {
margin:0px auto;
border-bottom: groove #BDBDBD;
border-top: groove #BDBDBD;
border-left: groove #BDBDBD;
border-right: groove #BDBDBD;
margin-top:100px;
padding:10px;
width:800px;
min-height:150px;
border-radius:10px;
background-color:white;
}



.close2 #close2 {
position:absolute;
top: 105px;
right :280px;
z-index: 1001;
}
